.service-card {
    padding: 1.5rem;
    background-color: rgb(229, 238, 247);
    border: 2px solid rgba(52, 55, 59, 0.521);
    border-radius: 0.75rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    transition: 500ms ease;
}

.service-card.blur {
    filter: blur(2px);
}

.service-card-1:hover {
    background-color: rgba(169, 180, 194, 0.842);
    border: 2px solid black;
}

.service-card-2:hover {
    background-color: rgba(169, 180, 194, 0.842);
    border: 2px solid black;
}

.service-card-3:hover {
    background-color: rgba(169, 180, 194, 0.842);
    border: 2px solid black;
}




.service-card-1:hover p {
    color: rgb(37, 103, 245);
}

.service-card-2:hover p {
    color: rgb(37, 103, 245);
}

.service-card-3:hover p {
    color: rgb(37, 103, 245);
}

.service-card p {
    font-family: "Paprika";
    font-weight: 700;
    color: rgb(37, 61, 87);
    font-size: 1.1rem;
}

.service-card h6 {
    font-family: "Poppins";
    font-size: 0.9rem;
    font-weight: 400;
}



.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}



@media only screen and (min-width: 0px) and (max-width: 576px) {
    .service-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (min-width: 577px) and (max-width: 992px) {
    .service-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {}